modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "React Development Server"

[[workflows.workflow]]
name = "React Development Server"
author = 42160584
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
